<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Random Cats</title>
</head>
<body>
    <div class="container">
        <div class="img">
            <img src=<%= img %> alt="">
        </div>
        <div class="btn">
            <button onclick="window.location.href='/'">Refresh</button>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>